name: fgi-bot

on:
  workflow_dispatch:
  schedule:
    - cron: '7 0 * * *'

jobs:
  run-fgi:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests yfinance python-telegram-bot

      - name: run
        run: python fear_and_greed.py
